@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&display=swap');

@import "tailwindcss";


body {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 100%; 
  width: 100%; /* Full viewport width */
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #09090B;
  overflow-x: hidden;
}


:root {
  font-family: "Gabarito",sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: fit-content;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #09090B;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.gabarito-custom {
  font-family: "Gabarito", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


